body,
html,
:root > div {
  width: auto;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  overflow-x: hidden;
  /* overflow: hidden; */
}

h1 {
  font-family: "Kufam", cursive !important;
  line-height: 1.5;
  font-size: 7vh;
}

h2 {
  font-family: "Gayathri", sans-serif !important;
}

.mode {
  height: 100vh;
  overflow: hidden;
}

.dark-mode {
  background-color: #2a2c31;
  color: #fffff7;
  font-weight: bold;
  height: max-content;
}

.light-mode {
  background-color: #fffff7;
  color: #20295a;
  font-weight: bold;
  height: max-content;
}

svg {
  margin-top: 8%;
  margin-bottom: 2%;
  justify-content: center;
  width: 80vh;
}

.icon-toggle {
  position: fixed;
  cursor: pointer;
  top: 4vh;
  right: 5vh;
  z-index: 3;
}

/*  ================== NAVBAR ====================== */

/* .nav {
  width: auto;
  top: 2vh;
  position: fixed;
  z-index: 2;
}

.text-secondary {
  font-size: 2.4vh;
  font-weight: bold;
  cursor: pointer;
  width: 10vw;
}

.lightMode-icon {
  color: #fdab00;
}

.darkMode-icon {
  color: #999999;
}
.logo-nav {
  cursor: pointer;
}

figure {
  margin: 0;
} */
/* ============================================= */

nav.responsive-nav {
  position: fixed;
  width: 100%;
  min-height: 14vh;
}

nav.responsive-nav > ul {
  display: flex;
}

nav > ul > li {
  list-style-type: none;
  padding: 20px;
  float: right;
  width: 10%;
}

a:link {
  text-decoration: none !important;
}

.logo-nav {
  cursor: pointer;
  float: left;
  display: none;
}

/*  ================== MY WORK ====================== */

.my-work-section {
  height: fit-content;
}
.card-title {
  overflow: hidden;
}
/*  ================== CONTACT ME ====================== */

.form-message {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 40%;
  margin: 5% 30%;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: flex-start;
}

.label {
  font-size: 3vh;
  justify-content: flex-start;
  margin-top: 3vh;
}

.input {
  width: 100%;
}

/* =================== Media Queries =================== */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  h1,
  h2 {
    font-size: 150%;
  }
  svg {
    margin-top: 40%;
    width: 80%;
  }
  /* .dark-mode,
  .light-mode {
    height: 100vh;
  } */

  .my-work-section {
    height: fit-content;
  }
  /* navbar ============ */
  nav.responsive-nav {
    z-index: 2;
  }
  nav.responsive-nav > ul {
    width: 50%;
    height: auto;
    position: fixed;
    flex-direction: column;
    transition: 3000ms ease all;
    z-index: inherit;
  }

  .li-desactive {
    height: 100%;
    position: fixed;
    right: 0;
    flex-direction: column;
    top: 14vh;
    margin-right: 0%;
    display: none;
  }

  nav > ul > li {
    width: 100%;
    padding: 5px;
    margin-left: 10%;
    list-style-type: none;
  }

  nav.responsive-nav > ul > li > a {
    padding-right: 25%;
  }

  .logo-nav {
    margin-left: 5%;
    cursor: pointer;
    display: block;
  }

  figure {
    z-index: 3;
    cursor: pointer;
    display: block;
    margin-top: 5%;
  }

  .text-type {
    font-size: 2rem;
  }
}
