body,
html,
:root > div {
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.dark-mode {
  background-color: #20295a;
  color: white;
  height: 100vh;
}

.light-mode {
  background-color: white;
  color: #20295a;
  height: 100vh;
}

svg {
  z-index: -1;
}
