body,
html,
:root > div {
  height: 100%;
  text-align: center;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-family: "Kufam", cursive !important;
  line-height: 1.5;
  font-size: 7vh;
}

h2 {
  font-family: "Gayathri", sans-serif !important;
  font-size: 4vh;
}

.dark-mode {
  background-color: #2a2c31;
  color: #fffff7;
  height: 100vh;
}

.light-mode {
  background-color: #fffff7;
  color: #20295a;
  height: 100vh;
}

svg {
  margin-top: 5%;
  justify-content: center;
  width: 80vh;
}

.icon-toggle {
  display: flex;
  position: relative;
  align-self: flex-start;
  top: 3%;
  left: 3%;
}

/* =================== Media Queries =================== */

@media screen and (max-width: 830px) {
  svg {
    width: 50%;
  }

  .icon-toggle {
    font-size: 1.5em;
  }
}
